- content_for(:title, 'Teachers dashboard')
%p Welcome to Teacher Section. Your class name is #{current_admin.try(:name) || '"Unknow"'}
.row
  - @admins.each do |admin|
    .col-md-3
      .thumbnail
        .caption.center
          %h3 #{admin.try(:name) || 'Unknown name'}
          %hr
          = fa_icon "envelope"
          = link_to admin.email, teacher_path(admin)
          = link_to 'Edit', edit_teacher_path(admin)
          = link_to 'Destroy', teacher_path(admin), method: :delete, data: { confirm: 'Are you sure?' } #todo destroy admin path REMINDER

= link_to 'New Admin', new_teacher_path