- content_for(:title, 'Class Dashboard')
Here you can manage pupils

= form_tag admin_admins_add_student_path(@admin) do
  = field_set_tag do
    = label_tag :user, 'Pupils:'
    = select_tag :user_id, options_from_collection_for_select(User.all, 'id', 'username'), include_blank: true , class: 'chosen-select'
    = submit_tag 'Add'

.row
  - @users.each do |u|
    .col-md-3
      .thumbnail
        = image_tag(u.avatar.url, :height =>"100px", :width =>"100px" )
        .caption.center
          %h3 #{u.username.humanize}
          %hr
          = fa_icon "envelope"
          = link_to u.email, u
