.row
  .col-sm-12.col-md-5.col-md-offset-3
    .thumbnail
      %img{alt: "...", :src => @user.avatar.url}/
      .caption.center
        %h3 #{@user.username.humanize}
        = fa_icon "envelope"
        = @user.email
        %hr
        - unless @user.admin.blank?
          %p.lead
            Class name :
            = link_to @user.admin.name, teacher_path(@user.admin)
            = link_to "Add Friend", friendships_path(friend_id: @user), :method => :post
            - unless @user.friendships.blank?
              Pen pal :
              - @user.friendships.each do |friendship|
                = friendship.friend.username
                (
                = link_to "remove", friendship, :method => :delete
                )